<div class="d-flex mb-3 align-items-end">
  <h1 class="mb-0 me-3"><%= t(".title") %></h1>
  <%= link_to(t(".create_serving_definition"),
              new_serving_definition_path,
              class: "btn btn-primary",
              data: { turbo_frame: dom_id(ServingDefinition.new) }) %>
</div>

<%= turbo_frame_tag(ServingDefinition.new) %>

<%= turbo_frame_tag("serving_definitions") do %>
  <%= render(@serving_definitions) %>
<% end %>
