<div id="<%= dom_id workout %>">
  <p>
    <strong>Name:</strong>
    <%= workout.name %>
  </p>
  <p>
    <strong>Started At:</strong>
    <%= workout.started_at %>
  </p>
  <p>
    <strong>Completed At:</strong>
    <%= workout.completed_at %>
  </p>
  <p>
    <strong>Created At:</strong>
    <%= workout.created_at %>
  </p>
  <p>
    <strong>Updated At:</strong>
    <%= workout.updated_at %>
  </p>

</div>
