<% unless defined?(hide_name) && hide_name %>
  <div class="d-flex align-items-center mb-3">
    <h5 class="h5 mb-0 me-1"><%= workout.name %></h5>
    <% if defined?(inline_status) && inline_status %>
      <% if workout.completed? %>
        <span class="badge rounded-pill bg-success mx-1"><%= t(".statuses.completed") %></span>
      <% elsif workout.in_progress? %>
        <span class="badge rounded-pill bg-primary mx-1"><%= t(".statuses.in_progress") %></span>
      <% else %>
        <span class="badge rounded-pill bg-secondary mx-1"><%= t(".statuses.draft") %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
<table class="table xxsmall-width">
  <tbody>
    <% unless defined?(inline_status) && inline_status %>
      <tr>
        <th scope="row"><%= t(".status") %></th>
        <td>
          <% if workout.completed? %>
            <span class="badge rounded-pill bg-success mx-1"><%= t(".statuses.completed") %></span>
          <% elsif workout.in_progress? %>
            <span class="badge rounded-pill bg-primary mx-1"><%= t(".statuses.in_progress") %></span>
          <% else %>
            <span class="badge rounded-pill bg-secondary mx-1"><%= t(".statuses.draft") %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if workout.started? %>
      <tr>
        <th scope="row"><%= Workout.human_attribute_name("started_at") %></th>
        <td><%= workout.started_at&.to_fs(:timestamp) %></td>
      </tr>
    <% end %>
    <% if workout.completed? %>
      <tr>
        <th scope="row"><%= Workout.human_attribute_name("completed_at") %></th>
        <td><%= workout.started_at&.to_fs(:timestamp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
