- unless defined?(hide_name) && hide_name
  .d-flex.align-items-center.mb-3
    %h3.mb-0.me-1= workout.name
    - if defined?(inline_status) && inline_status
      - if workout.completed?
        %span.badge.rounded-pill.bg-success.mx-1= t(".statuses.completed")
      - elsif workout.in_progress?
        %span.badge.rounded-pill.bg-primary.mx-1= t(".statuses.in_progress")
      - else
        %span.badge.rounded-pill.bg-secondary.mx-1= t(".statuses.draft")
%table.table.xxsmall-width
  %tbody
    - unless defined?(inline_status) && inline_status
      %tr
        %th{:scope => "row"}= t(".status")
        %td
          - if workout.completed?
            %span.badge.rounded-pill.bg-success.mx-1= t(".statuses.completed")
          - elsif workout.in_progress?
            %span.badge.rounded-pill.bg-primary.mx-1= t(".statuses.in_progress")
          - else
            %span.badge.rounded-pill.bg-secondary.mx-1= t(".statuses.draft")
    - if workout.started?
      %tr
        %th{:scope => "row"}= Workout.human_attribute_name("started_at")
        %td= workout.started_at&.to_fs(:timestamp)
    - if workout.completed?
      %tr
        %th{:scope => "row"}= Workout.human_attribute_name("completed_at")
        %td= workout.completed_at&.to_fs(:timestamp)
