<div class="d-flex mb-3 align-items-end">
  <h1 class="h1 mb-0 me-3"><%= t(".title") %></h1>
  <%= link_to t(".create_workout"), new_workout_path, class: "btn btn-primary" %>
</div>
<div id="workouts">
  <% @workouts.each do |workout| %>
    <div class="card mb-3">
      <div id="<%= dom_id workout %>" class="card-body">
        <%= render "workout_attributes", workout: , inline_status: true %>
        <%= link_to t(:open), workout, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
