= render(@workout)
%h3= t(".exercises")
= turbo_frame_tag("exercises") do
  = render(@workout.exercises, workout: @workout)
= turbo_frame_tag(Exercise.new)
.mb-5
  - unless @workout.completed?
    = link_to(t(".create_exercise"),               |
      new_workout_exercise_path(@workout),         |
      class: "btn btn-primary me-2",               |
      data: { turbo_frame: dom_id(Exercise.new) }) |
