<p style="color: green"><%= notice %></p>

<%= render @workout %>

<div>
  <%= link_to t(".start"), start_workout_path(@workout) %>
  <%= link_to t(".edit"), edit_workout_path(@workout) %> |
  <%= link_to t(".back"), workouts_path %>

  <%= button_to t(".destroy"), @workout, method: :delete %>
</div>
