<div class="d-flex mb-3 align-items-end">
  <h1 class="h1 mb-0 me-3"><%= t(".title") %></h1>
  <%= link_to t(".create_exercise_category"), new_exercise_category_path, class: "btn btn-primary" %>
</div>
<div id="exercise_categories">
  <% @exercise_categories.each do |exercise_category| %>
    <div class="card mb-3">
      <div id="<%= dom_id exercise_category %>" class="card-body">
        <%= render exercise_category %>
        <%= link_to t(:open), exercise_category, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
