<div class="justify-content-center align-items-center mt-5 mx-auto px-4 small-width">
  <h1 class="text-primary text-center mb-4"><%= t(:app_name) %></h1>
  <h3 class="text-secondary text-center"><%= t(:sign_up) %></h3>
  <%= form_for(
    resource,
    as: resource_name,
    url: registration_path(resource_name),
    html: { data: { turbo: false } }
  ) do |f| %>
    <div class="mb-3">
      <%= f.label :email, class: "form-label text-primary d-block" %>
      <%= render "devise/shared/form_error", attribute: :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="mb-3">
      <div class="text-primary">
        <%= f.label :password, class: "form-label" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t(".characters_minimum") %>)</em>
        <% end %>
      </div>
      <%= render "devise/shared/form_error", attribute: :password %>
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label d-block text-primary" %>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>

    <%= f.submit t(:sign_up), class: "btn btn-primary" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
