<div id="<%= dom_id @exercise_tag %>">
  <h1 class="h1 mb-3"><%= @exercise_tag.name %></h1>
  <%= render "tags/tag", tag: @exercise_tag, hide_name: true %>
</div>

<div class="d-flex">
  <%= link_to t(:edit), edit_exercise_tag_path(@exercise_tag), class: "btn btn-secondary me-2" %>
  <%= button_to t(:destroy), @exercise_tag, method: :delete, class: "btn btn-danger" %>
</div>
