%h1.display-3.mb-4= t(".title")
- formatted_datetime = @datetime.to_fs(:date)
%h1.mb-4
  = @datetime.today? ? t(".meals_today", date: formatted_datetime) : t(".meals", date: formatted_datetime)
- if @datetime.today?
  = link_to(t(".create_meal"), new_meal_path, class: "mb-3 btn btn-primary", data: { turbo_frame: dom_id(Meal.new) })
= turbo_frame_tag("meals") do
  = turbo_frame_tag(Meal.new)
  - @meals.each do |meal|
    = render("meals/meal_card", meal:)
