<div class="d-flex mb-3 align-items-end">
  <h1 class="mb-0 me-3"><%= t(".title") %></h1>
  <%= link_to(t(".create_exercise_type"),
              new_exercise_type_path,
              class: "btn btn-primary",
              data: { turbo_frame: dom_id(ExerciseType.new) }) %>
</div>

<%= turbo_frame_tag(ExerciseType.new) %>

<%= turbo_frame_tag("exercise_types") do %>
  <%= render(@exercise_types) %>
<% end %>
