<%= link_to(t(".back"), exercise_types_path, class: "mb-3 btn btn-primary") %>

<h1 class="mb-3"><%= @exercise_type.name %></h1>

<div class="d-flex flex-wrap justify-content-between mb-3">
  <div class="d-flex align-items-center">
    <h3 class="mb-0 me-2"><%= ExerciseType.human_attribute_name("equipment") %></h3>
    <span class="badge rounded-pill bg-secondary px-2">
      <div class="px-2">
        <%= @exercise_type.equipment.count %>
      </div>
    </span>
  </div>
</div>
<ul>
  <% @exercise_type.equipment.each do |equipment| %>
    <li><%= equipment.name %></li>
  <% end %>
</ul>
