<div class="d-flex mb-3 align-items-end">
  <h1 class="mb-0 me-3"><%= t(".title") %></h1>
  <%= link_to(t(".create_food_group"),
              new_food_group_path,
              class: "btn btn-primary",
              data: { turbo_frame: dom_id(FoodGroup.new) }) %>
</div>

<%= turbo_frame_tag(FoodGroup.new) %>

<%= turbo_frame_tag("food_groups") do %>
  <%= render(@food_groups) %>
<% end %>
