.d-flex.mb-3.align-items-end
  %h1.mb-0.me-3= t(".title")
  = link_to(t(".create_food_group"),              |
    new_food_group_path,                          |
    class: "btn btn-primary",                     |
    data: { turbo_frame: dom_id(FoodGroup.new) }) |
= turbo_frame_tag(FoodGroup.new)
= turbo_frame_tag("food_groups") do
  = render(@food_groups)
