<%= form_for([wishlist, wishlist_item]) do |f| %>

  <% invalid = wishlist_item.errors.include?(:name) %>
  <div class="form-group row mb-3">
    <%= f.label(:name, class: "col-sm-2 col-form-label") %>
    <div class="col-sm-10">
      <%= f.text_field(:name, class: "form-control #{"is-invalid" if invalid}") %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% wishlist_item.errors.full_messages_for(:name).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= f.label(:description, class: "col-sm-2 col-form-label") %>
    <div class="col-sm-10">
      <%= f.text_area(:description, class: "form-control") %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= f.label(:price, class: "col-sm-2 col-form-label") %>
    <div class="col-sm-10">
      <%= f.text_field(:price, class: "form-control") %>
    </div>
  </div>

  <h4><%= WishlistItem.human_attribute_name("links") %></h4>
  <div data-controller="nested-form">
    <template data-nested-form-target="template">
      <%= f.fields_for(:links, Link.new, child_index: "NEW_RECORD", wrapper: :inline_form ) do |link_form| %>
        <%= render("links/form", form: link_form) %>
      <% end %>
    </template>
    <%= f.fields_for(:links, wrapper: :inline_form) do |link_form| %>
      <%= render("links/form", form: link_form) %>
    <% end %>

    <div class="mb-3" data-nested-form-target="links">
      <%= link_to("Add Link", "#", class: "btn btn-success", data: { action: "click->nested-form#add_association" }) %>
    </div>
  </div>

  <hr>

  <%= f.submit(class: "btn btn-primary me-2", data: { turbo_frame: "_top" }) %>
  <% if wishlist_item.persisted? %>
    <%= link_to(t(:cancel), [wishlist, wishlist_item], class: "btn btn-secondary me-2") %>
    <%= link_to([wishlist, wishlist_item],
                data: {
                  turbo_method: :delete,
                  turbo_confirm: t("wishlist_items.destroy_confirmation"),
                  turbo_frame: "_top",
                },
                class: "btn btn-danger") do %>
      <i class="bi bi-trash3"></i>
    <% end %>
  <% else %>
    <%= link_to(t(:cancel), wishlist_path(wishlist), class: "btn btn-secondary me-2", data: { turbo_frame: "_top" }) %>
  <% end %>
<% end %>
