<%= turbo_frame_tag(wishlist_item) do %>
  <div class="d-flex flex-wrap justify-content-between mb-3">
    <div class="d-flex align-items-center">
      <h1 class="h1 mb-0 me-2"><%= wishlist_item.name %></h1>
    </div>

    <div class="d-flex align-items-center">
      <%= link_to(edit_wishlist_wishlist_item_path(wishlist, wishlist_item), class: "btn btn-secondary me-2") do %>
        <i class="bi bi-pencil"></i>
      <% end %>
    </div>
  </div>

  <p class="fw-bold mb-0"><%= WishlistItem.human_attribute_name("description") %>:</p>
  <%= simple_format(wishlist_item.description) %>

  <p class="fw-bold mb-0"><%= WishlistItem.human_attribute_name("price") %>:</p>
  <p><%= number_to_currency(wishlist_item.price) %></p>

  <p class="fw-bold mb-0"><%= WishlistItem.human_attribute_name("links") %>:</p>
  <div class="list-group">
    <% wishlist_item.links.each do |link| %>
      <%= link_to(link.url, link.url, target: :_blank) %>
    <% end %>
  </div>
<% end %>
