<div class="card mb-3">
  <div class="card-body">
    <%= simple_form_for(meal) do |f| %>
      <%= f.input(:name) %>
      <%= f.input(:date) %>
      <%= f.input :meal_type, collection: Meal.meal_types.keys, include_blank: false %>
      <%= f.button(:submit) %>
      <%= link_to(t(:cancel), meals_path, class: "btn btn-secondary") %>
    <% end %>
  </div>
</div>
