<%= turbo_frame_tag(meal) do %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="d-flex align-items-center">
          <h3 class="mb-0 me-2"><%= meal.full_name %></h3>
        </div>

        <div class="d-flex align-items-center">
          <%= link_to(meal, class: "btn btn-secondary me-2", data: { turbo_frame: "_top" }) do %>
            <i class="bi bi-arrows-angle-expand"></i>
          <% end %>
        </div>
      </div>
      <table class="table xxsmall-width mt-3">
        <tbody>
          <tr>
            <th scope="row"><%= Meal.human_attribute_name(:meal_type) %></th>
            <td><%= meal.meal_type %></td>
          </tr>
          <tr>
            <th scope="row"><%= Meal.human_attribute_name(:date) %></th>
            <td><%= meal.date&.to_fs(:timestamp) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
