<div class="justify-content-center align-items-center mt-5 mx-auto px-4 small-width" data-turbo="false">
  <h1 class="text-primary text-center mb-4"><%= t(:app_name) %></h1>
  <h3 class="text-secondary text-center"><%= t(:log_in) %></h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-3">
      <%= f.label :email , class: "form-label text-primary d-block"%>
      <%= render "devise/shared/form_error", attribute: :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label text-primary d-block" %>
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-3 form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit t(:log_in), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
