<div class="d-flex mb-3 align-items-end">
  <h1 class="h1 mb-0 me-3"><%= t(".title") %></h1>
  <%= link_to t(".create_workout_category"), new_workout_category_path, class: "btn btn-success" %>
</div>
<div id="workout_categories">
  <% @workout_categories.each do |workout_category| %>
    <div class="card mb-3">
      <div id="<%= dom_id workout_category %>" class="card-body">
        <%= render workout_category %>
        <%= link_to t(:open), workout_category, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
