<%= turbo_frame_tag(food) do %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="d-flex align-items-center">
          <h3><%= food.name %></h3>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to(food, class: "btn btn-secondary me-2", data: { turbo_frame: "_top" }) do %>
            <i class="bi bi-arrows-angle-expand"></i>
          <% end %>
          <%= link_to(edit_food_path(food), class: "btn btn-secondary me-2") do %>
            <i class="bi bi-pencil"></i>
          <% end %>
          <%= button_to(food,
                        method: :delete,
                        form: { data: { turbo_confirm: t(".destroy_confirmation") } },
                        class: "btn btn-danger" ) do %>
            <i class="bi bi-trash3"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
