<%= turbo_frame_tag exercise_type_tag do %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="h5"><%= exercise_type_tag.name %></h5>
      <div class="d-flex">
        <%= link_to(exercise_type_tag, class: "btn btn-secondary me-2", data: { turbo_frame: "_top" }) do %>
          <i class="bi bi-arrows-angle-expand"></i>
        <% end %>
        <%= link_to(edit_exercise_type_tag_path(exercise_type_tag), class: "btn btn-secondary me-2") do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= button_to(exercise_type_tag,
                method: :delete,
                form: { data: { turbo_confirm: t(".destroy_confirmation") } },
                class: "btn btn-danger") do %>
          <i class="bi bi-trash3"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
