<div class="d-flex mb-3 align-items-end">
  <h1 class="h1 mb-0 me-3"><%= t(".title") %></h1>
  <%= link_to t(".create_exercise_type_tag"),
              new_exercise_type_tag_path,
              class: "btn btn-primary",
              data: { turbo_frame: dom_id(ExerciseTypeTag.new) } %>
</div>

<%= turbo_frame_tag ExerciseTypeTag.new %>

<%= turbo_frame_tag "exercise_type_tags" do %>
  <%= render @exercise_type_tags %>
<% end %>
