<%= turbo_frame_tag workout_tag do %>
  <div class="card mb-3">
    <div class="card-body">
      <h3><%= workout_tag.name %></h3>
      <div class="d-flex">
        <%= link_to(workout_tag, class: "btn btn-secondary me-2", data: { turbo_frame: "_top" }) do %>
          <i class="bi bi-arrows-angle-expand"></i>
        <% end %>
        <%= link_to(edit_workout_tag_path(workout_tag), class: "btn btn-secondary me-2") do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= button_to(workout_tag,
                      method: :delete,
                      form: { data: { turbo_confirm: t(".destroy_confirmation") } },
                      class: "btn btn-danger") do %>
          <i class="bi bi-trash3"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
