<%= render(@wishlist) %>

<%= turbo_frame_tag("wishlist_items") do %>
  <% @wishlist.wishlist_items.each do |wishlist_item| %>
    <%= render("wishlist_items/wishlist_item_card", wishlist_item:, wishlist: @wishlist) %>
  <% end %>
<% end %>

<%= turbo_frame_tag(WishlistItem.new) %>

<div class="mb-5">
  <%= link_to(t(".quick_create_wishlist_item"),
              quick_new_wishlist_wishlist_items_url(@wishlist),
              class: "btn btn-primary me-2",
              data: { turbo_frame: dom_id(WishlistItem.new) }) %>
</div>
