<div class="row border-bottom border-secondary p-2">
  <%= form_with(model: [workout, exercise, exercise_set]) do |f| %>
    <div class="row g-2 mb-2">
      <div class="col-4">
        <%= f.number_field(:weight, autofocus: true, class: "form-control") %>
      </div>
      <div class="col-4">
        <%= f.number_field(:repetitions, class: "form-control") %>
      </div>
      <div class="col-4"></div>
    </div>
      <%= f.submit(t(:save), class: "btn btn-success me-2") %>
      <%= link_to(t(:cancel), workout_path(workout), class: "btn btn-secondary me-2") %>
      <% if exercise_set.persisted? %>
        <%= link_to([workout, exercise, exercise_set],
                method: :delete,
                data: {
                  turbo_method: :delete,
                  turbo_confirm: t("exercise_sets.destroy_confirmation"),
                  turbo_frame: dom_id(exercise_set),
                },
                class: "btn btn-danger") do %>
          <i class="bi bi-trash3"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
