<%= turbo_frame_tag exercise do %>
  <div class="d-flex align-items-center mb-4">
    <div class="card flex-grow-1 me-2">
      <div class="card-body">
        <%= turbo_frame_tag dom_id(exercise, :edit) do %>
          <div class="d-flex align-items-center mb-3">
            <h4 class="h4 mb-0 flex-grow-1"><%= exercise.name %></h4>
            <%= link_to([:edit, workout, exercise], class: "btn btn-secondary me-2") do %>
              <i class="bi bi-pencil"></i>
            <% end %>
          </div>
          <% unless exercise.note.blank? %>
            <div class="mb-3">
              <p class="fw-bold mb-1"><%= Exercise.human_attribute_name("note") %>:</p>
              <%= simple_format(exercise.note) %>
            </div>
          <% end %>
        <% end %>

        <div class="container">
          <div class="row border-bottom border-2 border-secondary pb-1">
            <div class="col-4 fw-bold"><%= ExerciseSet.human_attribute_name("weight") %></div>
            <div class="col-8 fw-bold"><%= ExerciseSet.human_attribute_name("repetitions") %></div>
          </div>

          <%= turbo_frame_tag nested_dom_id(exercise, "exercise_sets") do %>
            <%= render exercise.exercise_sets, workout: workout, exercise: exercise %>
          <% end %>

          <% unless workout.completed? %>
            <%= turbo_frame_tag nested_dom_id(exercise, ExerciseSet.new) do %>
              <div class="pt-2">
                <%= link_to t(".create_exercise_set"),
                            [:new, workout, exercise, :exercise_set],
                            class: "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <%= button_to(swap_position_workout_exercise_path(workout, exercise),
                    method: :patch,
                    params: { position: exercise.position - 1 },
                    form: { data: { turbo_frame: dom_id(exercise), } },
                    disabled: exercise.position.zero?,
                    class: "btn btn-secondary mb-3") do %>
        <i class="bi bi-arrow-up"></i>
      <% end %>
      <%= button_to(swap_position_workout_exercise_path(workout, exercise),
                    method: :patch,
                    params: { position: exercise.position + 1 },
                    form: { data: { turbo_frame: dom_id(exercise), } },
                    disabled: workout.last_exercise?(exercise),
                    class: "btn btn-secondary") do %>
        <i class="bi bi-arrow-down"></i>
      <% end %>
    </div>
  </div>
<% end %>
