= turbo_stream.update Exercise.new, ""
= turbo_stream.append "exercises" do
  = render @exercise, workout: @workout
- if @second_to_last_exercise.present?
  = turbo_stream.replace @second_to_last_exercise do
    = render @second_to_last_exercise, workout: @workout
