<% if user_signed_in? %>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to t("app_name"), root_path, class: "navbar-brand"%>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main_navbar"
        aria-controls="main_navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to t("navbar.workouts"),
                workouts_path,
                class: "nav-link #{active_class(workouts_path)}",
                "aria-current": "page"
            %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= active_class([tags_path, exercise_tags_path, workout_tags_path]) %>" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <%= t("navbar.tags") %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t("navbar.exercise_tags"),
                    exercise_tags_path,
                    class: "dropdown-item #{active_class(exercise_tags_path)}"
                %>
              </li>
              <li>
                <%= link_to t("navbar.workout_tags"),
                    workout_tags_path,
                    class: "dropdown-item #{active_class(workout_tags_path)}"
                %>
              </li>
              <li>
              <%= link_to t("navbar.exercise_type_tags"),
                    exercise_type_tags_path,
                    class: "dropdown-item #{active_class(exercise_type_tags_path)}"
                %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to t("navbar.all_tags"),
                    tags_path,
                    class: "dropdown-item #{active_class(tags_path)}"
                %>
              </li>
            </ul>
          </li>
        </ul>
        <div id="user_email" class="mx-2">
          <%= link_to current_user.email,
              profile_path,
              class: "nav-link #{active_class(profile_path)}"
          %>
        </div>
        <%= button_to t("navbar.logout"),
            destroy_user_session_path,
            method: :delete,
            class: "btn btn-outline-danger",
            "data-turbo": "false" # TODO figure out how to get devise to work well with turbo
        %>
      </div>
    </div>
  </nav>
<% end %>
