- if user_signed_in?
  %nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      = link_to t("app_name"), root_path, class: "navbar-brand"
      %button.navbar-toggler{"aria-controls" => "main_navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#main_navbar", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #main_navbar.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          - if show_navbar?(:fitness)
            = render "layouts/fitness_navbar"
          - elsif show_navbar?(:wishlists)
            = render "layouts/wishlists_navbar"
          - elsif show_navbar?(:nutrition)
            = render "layouts/nutrition_navbar"
        #user_email.mx-2
          = link_to(current_user.email, profile_path, class: "nav-link #{active_class(profile_path)}")
        = button_to(t("navbar.logout"), destroy_user_session_path, method: :delete, class: "btn btn-outline-danger")
