<li class="nav-item">
  <%= link_to t("navbar.nutrition_navbar.nutrition"),
      nutrition_path,
      class: "nav-link #{active_class(nutrition_path)}",
      "aria-current": "page"
  %>
</li>
<li class="nav-item">
  <%= link_to t("navbar.nutrition_navbar.food_groups"),
      food_groups_path,
      class: "nav-link #{active_class(food_groups_path)}",
      "aria-current": "page"
  %>
</li>
<li class="nav-item">
  <%= link_to t("navbar.nutrition_navbar.foods"),
      foods_path,
      class: "nav-link #{active_class(foods_path)}",
      "aria-current": "page"
  %>
</li>
<li class="nav-item">
  <%= link_to t("navbar.nutrition_navbar.serving_units"),
      serving_units_path,
      class: "nav-link #{active_class(serving_units_path)}",
      "aria-current": "page"
  %>
</li>
<li class="nav-item">
  <%= link_to t("navbar.nutrition_navbar.serving_definitions"),
      serving_definitions_path,
      class: "nav-link #{active_class(serving_definitions_path)}",
      "aria-current": "page"
  %>
</li>
