!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= content_for?(:title) ? yield(:title) : "arob"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = favicon_link_tag asset_path("favicon.ico")
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{rel: "manifest", href: "/manifest"}
    %meta{name: "theme-color", content: "#6f42c1"}
    %link{rel: "apple-touch-icon", href: "/apple-touch-icon.png"}
    %meta{name: "mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "default"}
    %meta{name: "apple-mobile-web-app-title", content: "arob"}
    :javascript
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker', { scope: '/' });
      }

  %body
    = render "layouts/navbar"
    .container.mt-4
      = render "shared/flash"
      = yield
